In [77]:
import pandas as pd

In [78]:
df = pd.read_csv("tt_records_20250426_230031.csv", sep=";")

In [79]:
df.head()

,category,time started,time ended,duration,duration minutes
0,Sleep,2024-09-01 08:57:24,2024-09-01 09:00:34,0:3:10,3
1,Sleep,2024-09-01 09:00:41,2024-09-01 09:08:00,0:7:19,7
2,Sleep,2024-09-01 09:18:55,2024-09-01 09:40:44,0:21:49,21
3,Еда,2024-09-01 09:53:56,2024-09-01 11:20:33,1:26:37,86
4,Прогулка,2024-09-01 11:20:55,2024-09-01 11:25:59,0:5:4,5

In [80]:
# информация о таблице
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509 entries, 0 to 2508
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   category          2509 non-null   object
 1   time started      2509 non-null   object
 2   time ended        2509 non-null   object
 3   duration          2509 non-null   object
 4   duration minutes  2509 non-null   int64
dtypes: int64(1), object(4)
memory usage: 98.1+ KB

In [81]:
# преобразование типов данных
df['category'] = df['category'].astype('string')
df['time started'] = pd.to_datetime(df['time started'])
df['time ended'] = pd.to_datetime(df['time ended'])
df['duration'] = pd.to_timedelta(df['duration'])

In [82]:
# время указано в GMT+3, переводить в другой часовой пояс не требуется.

In [83]:
# проверка на дубликаты
df[df.duplicated()]

Empty DataFrame
Columns: [category, time started, time ended, duration, duration minutes]
Index: []

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509 entries, 0 to 2508
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   category          2509 non-null   string
 1   time started      2509 non-null   datetime64[ns]
 2   time ended        2509 non-null   datetime64[ns]
 3   duration          2509 non-null   timedelta64[ns]
 4   duration minutes  2509 non-null   int64
dtypes: datetime64[ns](2), int64(1), string(1), timedelta64[ns](1)
memory usage: 98.1 KB

In [85]:
df.head()

,category,time started,time ended,duration,duration minutes
0,Sleep,2024-09-01 08:57:24,2024-09-01 09:00:34,0 days 00:03:10,3
1,Sleep,2024-09-01 09:00:41,2024-09-01 09:08:00,0 days 00:07:19,7
2,Sleep,2024-09-01 09:18:55,2024-09-01 09:40:44,0 days 00:21:49,21
3,Еда,2024-09-01 09:53:56,2024-09-01 11:20:33,0 days 01:26:37,86
4,Прогулка,2024-09-01 11:20:55,2024-09-01 11:25:59,0 days 00:05:04,5

In [86]:
# данные в столбце "duration minutes" округлены в меньшую сторону, что может повлиять на результат анализа
# столбец "duration" переводится в секунды, а затем на его основе создается столбец с минутами, округленными до сотых
df['duration_seconds'] = df['duration'].dt.total_seconds()
df['duration_minutes'] = (df['duration_seconds'] / 60).round(2)

In [87]:
# оставить только интересующие столбцы
df = df[['category', 'time started', 'time ended', 'duration_seconds', 'duration_minutes']]
df.head()

,category,time started,time ended,duration_seconds,duration_minutes
0,Sleep,2024-09-01 08:57:24,2024-09-01 09:00:34,190.0,3.17
1,Sleep,2024-09-01 09:00:41,2024-09-01 09:08:00,439.0,7.32
2,Sleep,2024-09-01 09:18:55,2024-09-01 09:40:44,1309.0,21.82
3,Еда,2024-09-01 09:53:56,2024-09-01 11:20:33,5197.0,86.62
4,Прогулка,2024-09-01 11:20:55,2024-09-01 11:25:59,304.0,5.07

In [88]:
df['category'].unique()

<StringArray>
[      'Sleep',         'Еда',    'Прогулка',       'Отдых',     'Общение',
 'Образование',         'Быт',      'Работа',       'Спорт',       'Хобби']
Length: 10, dtype: string

In [89]:
# Замена "Sleep" на "Сон"
df['category'] = df['category'].replace('Sleep', 'Сон')

In [90]:
# deepcopy на случай, если придется вернуться к изначальным данным
df_backup = df.copy(deep=True)

In [91]:
%store df

Stored 'df' (DataFrame)